@charset "utf-8";  
/* CSS Documento SisEx  */

}
.tudo {
   min-height:100%;
   position:relative;
}
.cabecalho{
	background: url("cabecalho.xhtml");	
	 padding:10px;
}
.conteudo {
   padding:10px;
   padding-bottom:60px;   /* Mesma Altura do Rodapé */
}
.rodape {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Mesma Altura do Rodapé */
   background:#6cf;
   
}